.countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.countdownItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.value {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 5px;
}

.label {
  font-size: 18px;
  opacity: 0.6;
  color: white;
}
