.button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: floatPulse 2.5s ease-in-out infinite;
  transition: transform 0.2s ease;
}

.button:hover {
  animation-play-state: paused;
  transform: scale(1.15);
}

.image {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  display: block;
}

/* Анимация */
@keyframes floatPulse {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-6px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
