:root {
  /* ЦВЕТА */
  --color-bg-page: #333c35; /* цвет фоновой области всей страницы */
  --color-bg-surface: rgba(40, 51, 42, 0.47); /* цвет для поверхностей */
  --color-bg-surface-hover: rgba(21, 30, 15, 0.32); /* фон при наведении */
  --color-border: rgba(33, 43, 27, 0.53); /* цвет рамок, обводок кнопок и разделительных линий */
  --color-text-primary: #d6c6a1; /* основной цвет текста */
  --color-text-muted: #ffffff; /* второстепенный цвет текста */
  --color-accent: #ffffff; /* акцентный цвет для выделения ключевых действий или элементов */

  /* ТИПОГРАФИЯ */
  /* РАССТОЯНИЯ */
  --border-radius-base: 1rem;
  --spacing-s: 0.4rem; /* 8px */
  --spacing-m: 0.7rem; /* 16px */
  --spacing-l: 1rem; /* 16px */
}
