.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-m);
  width: 170px;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
  letter-spacing: 2px;
}