/* Контейнер */
.header {
  /* Позиционирование */
  position: sticky; /* прилипающий элемент при скролле */
  top: 1%; /* отступ сверху для прилипания */
  z-index: 1000;


  /* Размеры и отступы */
  height: auto; /* растягивается по содержимому */
  min-height: 5rem; /* но не меньше 4.5rem */
  margin: 2.5% 2% 0; /* внешние отступы top, right/left, bottom */
  padding: 0 2%; /* внутренние отсутпы top/bottom, right/left */

  /* Флекс и выравнивание содержимого */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  /* Фон и оформление */
  background-color: var(--color-bg-surface); /* цвет фона 24252833 */
  -webkit-backdrop-filter: blur(30px); /* размытие фона под элементом (для Safari/iOS) */
  backdrop-filter: blur(30px); /* эффект матового стекла (размытие того, что за блоком) */
  border-radius: 10px;
}

/* Панель навигации с логотипом */
/*.navbar {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  width: 100%; !* растянуть на всю ширину хедера *!*/
/*}*/

.logo {
  height: 40px; /* подбираешь под высоту хедера */
  width: 95%;
}
