.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header {
  color: var(--color-accent);
  font-size: 35px;
  opacity: 0.8;
}

.divider {
  height: 1px; /* толщина линии */
  width: 95%; /* растянуть на всю ширину */
  background: white;
}

