.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header {
  color: var(--color-accent);
  font-size: 35px;
  opacity: 0.8;
}

.divider {
  height: 1.5px; /* можно чуть толще для лучшего эффекта */
  width: 95%;
  /* новогодний градиент: красный → белый → золотой → зеленый */
  background: linear-gradient(
    to right,
    #e4e4e4,
    #d6c6a1,
    #e4e4e4
  );
  border: none; /* чтобы не было бордера */
  border-radius: 1px; /* мягкие края */
}
