/**
 * Layout всего приложения
 * - каркас страницы, который содержит Header, контент и Footer
 * - управляет вертикальной структурой страницы
 * - обеспечивает минимальную высоту в 100% окна
 * - flex-контейнер с вертикальным направлением
 */
.page {
  min-height: 100vh; /* растягивает страницу на весь экран */
  display: flex; /* flex-контейнер для вертикального layout */
  flex-direction: column; /* располагает Header, контент и Footer сверху вниз */
  gap: 25px; /* расстояние между Header, контентом и Footer */
}

/**
 * Layout контентной части
 * - основная область, где размещается контент страниц
 * - ограничивает максимальную ширину для читабельности
 * - центрирует контент по горизонтали
 * - добавляет внутренние отступы
 * - задаёт фон и цвет текста
 * - позволяет занимать доступное пространство между Header и Footer
 */
.content {
  flex: 1; /* растягивает контент между Header и Footer */
  display: flex; /* делает layout контентной части флекс-контейнером для секций */
  flex-direction: column; /* секции в колонку */
  align-items: center;
  justify-content: center;
  gap: 50px; /* задает расстояние между секциями */
  margin: 0 auto; /* центрирует весь контент по горизонтали */
  width: 390px; /* ограничивает ширину для удобства чтения */
  padding: 10px; /* внутренние отступы */
  background: radial-gradient(circle at center, #4a5546, #333c35, #1f241f);
  /* цвет фона контента */
}
